#home{
  background: $dark_grey; /* fallback for old browsers */
  background: -webkit-linear-gradient(110deg, $black , $mid_grey); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(110deg, $black , $mid_grey); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .nav_bar, .nav{
    color: $light_grey;
    font-weight: 200;
    &.active{
      font-weight: 700;
      color: $almost_white;
    }
  }
  .middle_text{
    color: $almost_white;
    font-size: $icon-font-size;
    font-family: $font-family-secondary;
    text-shadow: -0.05em -0.05em 0.05em rgba(255,255,255,0.1)
  }
}

@media (max-width: 530px) {
  .middle_text h1{
    font-size: 3rem;
  }
}
